html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.peer-title {
  text-align: center;
  background-color: #7fdfff;
  padding: 20px 0;
  margin: 0 0 30px 0;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 5px solid black;
}

.position-div {
  display: flex;
  justify-content: center;
}

#video {
  width: 80%;
  min-height: 300px;
  border: 7px solid #060606;
  margin: auto;
  margin-bottom: 80px;
}

.messages-wrapper {
  width: 80%;
  min-height: 300px;
  border: 7px solid #060606;
  margin: auto;
}

.messages-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5px;
  text-decoration: underline;
}

.btns-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btns-wrapper>button {
  height: 40px;
  width: 150px;
  background-color: #2fc2f3;
  border: none;
  font-weight: 600;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.btns-wrapper>button:hover {
  background-color: #55eafd;
}

.message-philipp {
  background-color: #d2d2d2;
  border: 2px solid black;
  margin: 2px 0;
}

.message-zach {
  background-color: #a6e7f0;
  border: 2px solid black;
  margin: 2px 0;
}

.hidden {
  display: none;
}